# Git
.git
.gitignore

# Leiningen
/target/
/.lein-repl-history
*.jar
*.class
/checkouts/

# Logs
/log/

# Local setting and cache editors/IDE
/.calva/
/.clj-kondo/
/.lsp/
/.vscode/

# Temp files
*~
*.bak
*.swp

# Docs and other
README

# macOS
.DS_Store

# nREPL
.nrepl-port
