# Git
.git
.gitignore

# Leiningen
/target/
/.lein-repl-history
*.jar
*.class
/checkouts/

# Логи
/log/

# Локальные настройки и кэши редакторов/IDE
/.calva/
/.clj-kondo/
/.lsp/
/.vscode/

# Временные файлы
*~
*.bak
*.swp

# Документация и прочее
README

# macOS
.DS_Store

# nREPL
.nrepl-port