# Leiningen
/target/
/.lein-repl-history
*.jar
*.class

# Logs
/log/

# Local settings and cache editors/IDE
/.calva/
/.clj-kondo/
/.lsp/
/.vscode/

# Temp files
*~
*.bak
*.swp

# macOS
.DS_Store

# Local dependencies (if used)
/checkouts/

# nREPL, Calva temp
/.nrepl-port
